@{
    ViewData["Title"] = "About me";
}
<h2>Szymon Motyka</h2>
<h3>Hello!</h3>
I am Szymon - Developer, Youtuber and Bloger  .. ok Geek too :)
I want to introduce my main page with name like my company - LifeLike.
This  name was created for game, that I made for conquest "Daj Się Poznać 2017", When I finishrd at  4. place
On the sidebar, you can see my other pages, youtube channels and blogs. Have a fun :)
btw this page will receive more pages more :) 

Greetings,
Szymon Motyka 