@using LifeLike.ViewModel
@using LifeLike.Utils
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>LifeLike</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Raw(HtmlUtils.GenerateYoutube(new LinkViewModel
        {
            Link = "Qi5tp0eZHt8"
        }))
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Kawowi Podróżnicy's Blog</h3>
        @await Component.InvokeAsync("Rss", new {Url = "http://kawowipodroznicy.pl/feed/"})
    </div>
@*    <div class="col-md-6">*@
@*        <h3>Szymon Motyka's Blog</h3>*@
@*        @await Component.InvokeAsync("Rss", new {Url = "http://szymonmotyka.pl/feed/"})*@
@*    </div> *@
</div>
