@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div id="react-root"></div>
@section Styles {
    <link href="~/dist/styles/log.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/dist/post.js"></script>
}