@using LifeLike.ViewModel
@model System.Collections.Generic.List< LifeLike.ViewModel.LinkViewModel>

@if (Model!=null && Model.Any())
{
    foreach (var item in Model)
    {
        if (!item.IsLink)
        {
            <li>
                <a href="@Url.Action(item.Action, item.Controller)">
                    <span class="glyphicon glyphicon-@item.IconName" aria-hidden="true"></span> @item.Name
                </a>
            </li>

        }
        else
        {
            <li><a href="@item.Link"> <span class="glyphicon glyphicon-@item.IconName" aria-hidden="true"> </span> @item.Name</a>           
            </li>

        }
    }
}