<a mat-button routerLink="/">LifeLike.Dev</a>
<span class="setting-spacer"></span>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon class="setting-icon">more_vert</mat-icon>
</button>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item color="accent" *ngIf="!IsLogin" (click)="login()">Login</button>
  <button mat-menu-item color="primary" *ngIf="IsLogin" routerLink="Admin">
    {{CurrentUser.UserName | lowercase }}
  </button>
  <button mat-menu-item color="accent" *ngIf="IsLogin" (click)="logout()">Logout</button>
</mat-menu>
