
.idea/
obj/
bin/
packages/
.DS_Store
wwwroot/.DS_Store
.vs/
ClientApp/src/app/Components/post-list/post-list.component.css
ClientApp/src/app/Components/post-list/post-list.component.css.map
ClientApp/src/app/Components/youtube-player/youtube-player.component.css
ClientApp/src/app/Components/youtube-player/youtube-player.component.css.map
ClientApp/src/app/Layout/menu/menu.component.css
ClientApp/src/app/Layout/menu/menu.component.css.map
ClientApp/src/app/Pages/admin-panel/admin-panel.component.css
ClientApp/src/app/Pages/admin-panel/admin-panel.component.css.map
ClientApp/src/app/Pages/home/home.component.css
ClientApp/src/app/Pages/home/home.component.css.map
ClientApp/src/app/Pages/page/page.component.css
ClientApp/src/app/Pages/page/page.component.css.map
ClientApp/src/app/Pages/post-edit/post-edit.component.css
ClientApp/src/app/Pages/post-edit/post-edit.component.css.map
ClientApp/src/app/Pages/post/post.component.css
ClientApp/src/app/Pages/post/post.component.css.map
ClientApp/src/app/app.component.css
ClientApp/src/app/app.component.css.map
ClientApp/src/styles.css
ClientApp/src/styles.css.map
LifeLike.Web.sln
LifeLike.Web/ClientApp/package-lock.json
LifeLike.Web/*.txt
yarn.lock
package-lock.json
