
.idea/
obj/
bin/
packages/
.DS_Store
wwwroot/.DS_Store
.vs
node_modules/
db/
logs/
ClientApp/src/*.css
ClientApp/src/*.css.map
LifeLike.Web.sln
LifeLike.Frontend/node_modules/
LifeLike.Web/ClientApp/package-lock.json
LifeLike.Web/*.txt
yarn.lock
package-lock.json
.vscode