@model object

@{
    ViewBag.Title = "Photo";
    Layout = "_Layout";
}

<h2>Photo</h2>
Something about photo projects
<markdown>
    ##h2  
    _b_ 
    *i*
    #h1
    # Kawowe Odkrycia: Cold Brew
    Zbliżają się wakacje. Czas, w którym chodzimy po górach, jeździmy na rowerze czy opalamy się na plaży, marząc przy tym o czymś orzeźwiającym do picia. Jak wiadomo, kawa jest gorąca… ale nie zawsze.

    ## Ice Coffee
    Pierwszą i podstawową  opcją na kawowe schłodzenie jest Ice Coffee. Czyli tradycyjnie schłodzone kostkami lodu espresso z mlekiem lub po prostu kawa z mlekiem. Można przyrządzić ją samemu albo kupić w wielu kawiarniach. Dobre i tanie rozwiązanie. Są też różne alternatywy, jak np. espresso z tonikiem (jak wspominaliśmy w wpisie na temat Grecji) czy z colą (czego osobiście nie polecam). 
    Jeśli nie chcesz zabijać smaku kawy mlekiem, ani żadnymi fikuśnymi dodatkami, wtedy przechodzimy do…

    ## Cold Brew
    Pierwszy raz poznałem je, jako produkt zrobiony przez Etno rok temu. Obecnie sprzedawany w niewielkich buteleczkach w ich siedzibie. Całkiem niezłe, o ile jest dobrze schłodzone. Niektóre kawiarnie, jak Mała Czarna czy Cafe Targowa oferują dodatkowo wzbogaconą o Nitro wersję tego przysmaku. Nie, nie możemy wlać tego do baku. Jest to po prostu gazowany napój, ale gazowany nie przy pomocy CO2, a przy pomocy Nitro. 
    Ale czym jest ten Cold Brew i czym różni się od wcześniej wspominanej kawy z mlekiem i lodem?  
    Cold Brew jest sposobem parzenia kawy na zimno. Tzn. zalewamy zmieloną kawę zimną wodą o odpowiednich proporcjach i zostawiamy na około 8-12h w lodówce. Ja osobiście używam naczynia od Hario
    (zdjęcie)
    Które jest szklaną butelką z gumową nakrętką i filtrem na kawę w środku. Całkiem przydatny bajer, który nie kosztuje kroci. Do kupienia m.in na CoffeDesk (Link). 
    Ale tak naprawdę Cold Brew można przygotować również w zwykłym słoiku, ale przed podaniem trzeba ją przefiltrować. Dlatego czasem jest dobrze zainwestować w specjalne naczynie, ponieważ po określonym czasie wyjmujemy jedynie pojemnik z kawą, a reszta może się dalej chłodzić bez specjalnych czynności dodatkowych i bałaganu. 

    ## Jakość kawy
    Wiele ostatnich eksperymentów wykonanych przeze mnie udowadnia, że Cold Brew podobnie jak inne alternatywy nie wybacza złej jakości kawy. Ta metoda również wykorzystuje w pełni wszystkie smaki i nuty kawy, a przez zaparzanie na zimno ii powolne zaparzanie, zmniejszona zostaje kwasowatość kawy oraz poczucie goryczki. Metoda ta wymaga nie małej ilości kawy (6-7g/100g wody). Wypróbowałem z kawą Davidoff (mocno nie polecam), z trochę droższą kawą z Borówki oraz z kawami wyższych lotów, m.in z Małej Czarnej, Proficiency czy Johan & Nyström. 
    Wyniki wyglądały tak, że cold brew smakowało równie dobrze jak gorące odpowiedniki zaparzone z tych kaw. Niestety kawa z Borówki mimo podobnego  czasu macerowania oraz stopnia mielenia, wciąż była wodnista.
    DLatego też warto zainwestować w dobrą kawę.

    ## Mój Przepis
    750ml zimnej wody (przeflirtowana)
    40g kawy zmielonej jak do chemexu
    Zalać i włożyć do lodówki na około 10h
    Po tym czasie wymieszać, wyjąc filtr z kawą (przefiltrować i przelać do innego naczynia) i cieszyć się orzeźwieniem!

    ## Podsumowanie
    To tyle na temat  Cold Brew,  zapraszam do czytania a my w międzyczasie oddamy się przyjemności wypicia naszej kawy.
    Przy okazji, w kawiarniach pojawiły się nowe kawiarnie, które odwiedziliśmy: m.in klubokawiarnia Aquarium w Bielsku Białej.
</markdown>