<section class="mat-typography">

  <app-title Title="LifeLike"></app-title>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let config of Configs">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <app-youtube-player [YoutubeID]="config.Value" *ngIf="config.Type=='Video'"></app-youtube-player>
          <app-title Title="{{config.Value}}" *ngIf="config.Type=='Text'"></app-title>
          <app-title Title="{{config.Value}}" *ngIf="config.Type=='RSS'"></app-title>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
