<mat-toolbar>
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="setting-spacer"></span>
    <app-toolbar></app-toolbar>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav class="sidemenu" #drawer mode="side">
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
