<!-- <app-menu></app-menu>
<div class="container">
  <router-outlet></router-outlet>
</div> -->

<mat-toolbar>
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="container">
  <mat-sidenav #drawer mode="side">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--
<footer class="bottom">
  <div class="btn-group">
    <button mat-fab *ngIf="!IsLogin" class="btn btn-info" routerLink="Login">Login</button>
    <button mat-fab *ngIf="!IsLogin" class="btn btn-warning" routerLink="Register">Register</button>
    <button mat-fab *ngIf="IsLogin" class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>
</footer> -->
