@{
    ViewData["Title"] = "LifeLike : The Game";
}
<h1>@ViewData["Title"].</h1>


<div class="row">
    <div class="col-md-6">
        <h1>
            Something about Game
        </h1>
        <p>
            LifeLike is small Rouge Like game that was created for "Daj  Się Poznać 2017". 
            It was mine project to learn something about Game Developing. 
            You can test current version Here:
            Game is opensource and you can read something about coude here : <a href="http://szymonmotyka.pl/tag/dsp">Blog</a>
            
        </p>
    </div>
    <div class="col-md-6">
        <h1>Features</h1>
        <ul>
            <li>Random Generated Map</li>
            <li>Different Class for Character</li>
            <li>Multiplatform (Mac, Windows, Linux, WebGL)</li>          
        </ul>
    </div>
    

</div>