@{
    ViewData["Title"] = "LifeLike : The Game";
}
<h1>@ViewData["Title"].</h1>


<div class="row">
    <div class="col-md-6">
        <h1>
            7. Place in Conquest Daj Się Poznać 2017    
        </h1>
        <p>           
            This Game helped me win a conquest Called Day Sie Poznac 2017. If you want to read something about this, you 
            can open this page : <a href="http://szymonmotyka.pl/tag/dsp">Blog</a> (PL Version Only) or open github 
            <a href="https://github.com/aluspl/RogueLikeDSP">Github</a> to check the code! Enjoy
            
        </p>
    </div>
    <div class="col-md-6">
        <img src="photo/dsp2017.jpg" alt="LifeLike" class="img-responsive">
    </div>
   
</div>
<div class="row">
    <div class="col-md-6">
        <img src="photo/LIKE.jpg" alt="LifeLike" class="img-responsive">
    </div>
    <div class="col-md-6">
        <h1>Features</h1>
        <ul>
            <li>Random Generated Map</li>
            <li>Few unique classes</li>
            <li>Different Class for Character</li>
            <li>Day/Night Cicle</li>
            <li>Multiplatform (Mac, Windows, Linux, WebGL)</li>          
        </ul>
    </div>
</div>
    

<div class="row">
    <div class="col-md-6">
        <h1>
            Special Powers!  Yeah. You are special!           
        </h1>
        <h3>Few Reason why! (only on analog casette)</h3>
        <ul>
            <li>no  ! no in this way when mam say to his children tht he is special like Forest Gump</li>
            <li>Coach Trainer can change enemy site to you. Your Inteligence and Charisma will be useful!
            </li>
            <li>IT Guy can use inteligence to bored enemy</li>
            <li>Super Hobo will be specialist of alcohol. Based on alcohol he received special attributes!</li>
        </ul>

    </div>
    <div class="col-md-6">
        <img src="photo/lifelikeday.png" alt="LifeLike" class="img-responsive">
    </div>
   
</div>
<div class="row">
    <div class="col-md-12">
   Download Link  and changelogs will be soon here :) 
    </div>
</div>