<div class="form-container">
  <form (ngSubmit)="onSubmit()" #createPostForm="ngForm">
    <app-title Title="Add Photo: {{model.Name}}"></app-title>
    <div class="form-group">
      <input class="form-control" placeholder="Photo Name" [(ngModel)]="model.Name" name="model.Name" required>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="City" id="City" [(ngModel)]="model.City" name="City" >
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Camera" id="Camera" [(ngModel)]="model.Camera" name="Camera" >
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Image Tags" id="Tags" [(ngModel)]="model.Tags" name="Tags" >
    </div>
    <div class="form-group">
    <input type="file" #file type="file" multiple (change)="upload(file.files)"
        name="PhotoStream">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!createPostForm.form.valid && !submitEnabled">Submit</button>
    <span style="font-weight:bold;color:green;" *ngIf="loading">
      {{progress}}%
    </span>
    
    <span style="font-weight:bold;color:green;" *ngIf="message">
      {{message}}
    </span>
  </form>
</div>