@model LifeLike.ViewModel.GalleryViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}
<h1>@Html.DisplayFor(model=>model.Place)</h1>
<markdown text=@Model.Description></markdown>
@foreach (var photo in Model.Photos)
{
    @Html.DisplayText($"{photo.Title}, {photo.FileName}")
}