@model IEnumerable<LifeLike.ViewModel.GalleryViewModel>
@{
    ViewBag.Title = "Galeries";
    Layout = "_Layout";
}
<div class="row form-group">
    @foreach (var item in Model)
    {    
        @await Component.InvokeAsync("Gallery", new {model = item})       
    }
</div>
