@model IEnumerable<LifeLike.ViewModel.GalleryViewModel>
@{
    ViewBag.Title = "Galeries";
    Layout = "_Layout";
}
@foreach (var item in Model)
{
    <div class="col-md-4">
        <a href="@Url.Action(item.ShortTitle, "Photos")">
            @item.Title
        </a>
    </div>
}
