@model IEnumerable<LifeLike.ViewModel.EventLogViewModel>

@{
    ViewBag.Title = "Log system";
    Layout = "_Layout";
}
<h2>Log system</h2>
<table class="table">
    <tr>
        <th>Message</th>
        <th>Date</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Messages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td></td>
            <td>
                @Html.ActionLink("Update","Detail","Log", new {id=item.Id}, new { @class="button btn-info"})
            </td>
        </tr>
    }
</table>