<app-title Title="Configs"></app-title>
<app-spinner *ngIf="IsLoading"></app-spinner>
<table   class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">DisplayName</th>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="!IsLoading">
      <tr *ngFor="let config of Configs">
        <th scope="row">{{config.Id}}</th>
        <td>{{config.Name}}</td>
        <td>{{config.DisplayName}}</td>
        <td>{{config.Type}}</td>
        <td>{{config.Value}}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-success" [routerLink]="['ConfigEdit/'+ config.Id ]"> Edit </a>
            <a class="btn btn-warning" (click)='Remove(config)'>Delete </a>
          </div>
        </td>
      </tr>      
    </tbody>
  </table>
  <a class="btn btn-success" (click)="Create()"> Create </a>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
