<app-title Title="Configs"></app-title>
<app-spinner *ngIf="IsLoading"></app-spinner>
<table mat-table [dataSource]="Configs">
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DisplayName">
    <mat-header-cell *matHeaderCellDef>Display Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.DisplayName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Type}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Value">
    <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Value}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="Edit(element)"> Edit </button>
      <button mat-flat-button color="warn" (click)='Remove(element)'>Delete </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table >
<button mat-flat-button color="primary" (click)="create()">Create</button>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
