<app-title Title="Logs"></app-title>
<app-spinner *ngIf="IsLoading"></app-spinner>'
<mat-table [dataSource]="Logs">
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Messages">
    <mat-header-cell *matHeaderCellDef>Messages</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Messages}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="EventTime">
    <mat-header-cell *matHeaderCellDef>Event Time</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.EventTime | date: 'dd/MM/yyyy'}}</mat-cell>>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
