<!--<app-title Title="Logs"></app-title>-->
<app-spinner *ngIf="IsLoading"></app-spinner>
<table *ngIf="!IsLoading" class="table table-striped">
        <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Messages</th>
                  <th scope="col">EventTime</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let log of Logs">
                  <th scope="row">{{log.Id}}</th>
                  <td>{{log.Messages}}</td>
                  <td>{{log.EventTime | date: 'dd/MM/yyyy'}}</td>       
                </tr>      
    </tbody>
</table>
