<app-title Title="Project"></app-title>

<mat-spinner *ngIf="IsLoading"></mat-spinner>
<mat-grid-list cols="2" rowHeight="2:1" >
  <mat-grid-tile *ngFor="let post of Pages">
    <mat-card class="card"  routerLink='{{post.ShortName}}' >
      <mat-card-header>
        <mat-card-title class="title">
          {{post.FullName}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button  mat-button (click)="Edit(post)">Edit</button>
        <button  mat-button (click)="Remove(post)">Delete</button>
      </mat-card-actions>
      <mat-card-footer>Published: {{post.Published  | date: 'dd/MM/yyyy'}}</mat-card-footer>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
