<div class="form-container">
  <form (ngSubmit)="onSubmit()" #createPostForm="ngForm">
    <app-title Title="Create Page/Post: {{model.FullName}}"></app-title>
      <div class="form-group">
        <input class="form-control"
               placeholder="Post Name"
               [(ngModel)]="model.FullName"
               name="model.FullName"
               required>
      </div>
      <div class="form-group">
        <input class="form-control"
               placeholder="Link Name"
               id="ShortName"
               [(ngModel)]="model.ShortName"
               name="ShortName" required>
      </div>
      <div class="form-group">
        <input class="form-control"
               placeholder="Image URL"
               id="ImageUrl"
               [(ngModel)]="model.ImageUrl"
               name="ImageUrl">
    </div>
    <div class="form-group">
        <input class="form-control"
               placeholder="Icon Name"
               id="IconName"
               [(ngModel)]="model.IconName"
               name="IconName">
    </div>
    <div class="form-group">
      <select class="form-control"
                    id="Category" title="Category"
                    placeholder="Category"
                    name="Category"
                    required
                    [value]="model.Category"
                    [(ngModel)]="model.Category">
        <option   *ngFor="let category of categories">
            {{category}}
        </option>
      </select>
    </div>

        <div class="form-group">
            <textarea        
        id="Content"
        placeholder="Content"
        rows="10"
        [(ngModel)]="model.Content"
        name="Content"></textarea>
        </div>
    <button  class="btn btn-primary" type="submit" [disabled]="!createPostForm.form.valid">Submit</button>
  </form>
</div>
