<app-title Title="Configs"></app-title>
<app-spinner *ngIf="IsLoading"></app-spinner>
Name: string;
Value: string;
DisplayName: string;
Type: string;
<table *ngIf="!IsLoading"  class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">DisplayName</th>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let config of Configs">
        <th scope="row">{{config.Id}}</th>
        <td>{{config.Name}}</td>
        <td>{{config.DisplayName}}</td>
        <td>{{config.Type}}</td>
        <td>{{config.Value}}</td>

      </tr>      
    </tbody>
  </table>
<div class="row">
  <app-count-title [Title]="Count"></app-count-title>        
</div>

