<div class="form-container">
  <form (ngSubmit)="onSubmit()" #createPostForm="ngForm">
    <app-title Title="Create Page/Post: {{model.FullName}}"></app-title>
    <p>
      <mat-form-field>
        <input matInput
               placeholder="Post Name"
               [(ngModel)]="model.FullName"
               name="model.FullName"
               required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput
               placeholder="Link Name"
               id="ShortName"
               [(ngModel)]="model.ShortName"
               name="ShortName" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput
               placeholder="Image URL"
               id="ImageUrl"
               [(ngModel)]="model.ImageUrl"
               name="ImageUrl">
      </mat-form-field>

    </p>
    <p>
      <mat-form-field>
        <input matInput
               placeholder="Icon Name"
               id="IconName"
               [(ngModel)]="model.IconName"
               name="IconName">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-select class="form-control"
                    id="Category" title="Category"
                    placeholder="Category"
                    required
                    [value]="model.Category"
                    [(ngModel)]="model.Category">
          <mat-option
            *ngFor="let category of categories"
            [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
      <textarea
        matInput
        id="Content"
        placeholder="Content"
        rows="10"
        [(ngModel)]="model.Content"
        name="Content"></textarea>
      </mat-form-field>
    </p>

    <button mat-button type="submit" [disabled]="!createPostForm.form.valid">Submit</button>
  </form>
</div>
