<app-title Title="Photos"></app-title>

<app-spinner *ngIf="IsLoading"></app-spinner>
<mat-table [dataSource]="Photos">
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Title}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Url">
    <mat-header-cell *matHeaderCellDef>Url</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Url}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Created">
    <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Created}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="Edit(element)"> Edit </button>
      <button mat-flat-button color="warn" (click)='Remove(element)'>Delete </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button mat-flat-button color="primary" (click)="Create()"> Create </button>

<div class="row" *ngIf="IsCreateMode">
  <app-photo-create [IsCreateMode]="IsCreateMode"></app-photo-create>
</div>
<div class="row" *ngIf="IsEditMode">
  <app-photo-edit [IsEditMode]="IsEditMode" [model]="SelectedPhoto"></app-photo-edit>
</div>


<div *ngIf="error" class="alert alert-danger">{{error}}</div>
