@using LifeLike.Utils
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<LifeLike.ViewModel.LinkViewModel>

@{
    
    ViewBag.Title = "Videos";
    Layout = "_Layout";
}
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add Video","Create","Video", null, new { @class="btn btn-primary" })
}
    @foreach (var video in Model)
    {
        <div class="row">
            <div class="col-md-12">            
                @Html.Raw(HtmlUtils.GenerateYoutube(video))
                <br/>
            </div>
        </div>

    }    
