@using LifeLike.Utils
@model List<LifeLike.ViewModel.LinkViewModel>

@{
    
    ViewBag.Title = "Videos";
    Layout = "_Layout";
}

<h2>Videos</h2>
    @foreach (var video in Model)
    {
        <div class="row">
            <div class="col-md-12">            
                @Html.Raw(HtmlUtils.GenerateYoutube(video))
                <br/>
            </div>
        </div>

    }    
