<app-title Title="Videos"></app-title>

<mat-grid-list cols="2"  rowHeight="2:1">
  <mat-grid-tile *ngFor="let post of Videos">
    <mat-card class="dashboard-card" routerLink='{{post.ShortName}}'>
      <mat-card-header>
        <mat-card-title class="title">{{post.Name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-youtube-player [YoutubeID]="post.YoutubeId"></app-youtube-player>
      </mat-card-content>
      <mat-card-footer>Published: {{post.Published  | date: 'dd/MM/yyyy'}}</mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
