@model LifeLike.ViewModel.SidebarViewModel

<div>
    <p>
        <div class="media">
            <h4 class="media-heading">Szymon Motyka</h4>
            <div class="media-body">
                <img src="https://avatars0.githubusercontent.com/u/1876578?v=3&s=240" alt="Szymon Motyka">
            </div>
        </div>
    </p>    
    @if (Model!=null && Model.Links.Any())
    {
        <div class="list-group">
        @foreach (var item in Model.Links)
        {
            <a href="@item.Link" class="list-group-item"> <span class="glyphicon glyphicon-@item.IconName" aria-hidden="true"></span>@item.Name</a>
           
        }
        </div>
       
    }  
</div>