@model LifeLike.ViewModel.LinkViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}
<h2>Delete @Html.DisplayFor(model=>model.Name)</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-primary">Delete</button>
}
