@model LifeLike.ViewModel.SidebarViewModel

        <div class="row">
            <div class="col-md-12">
                <h1 class="media-heading">Szymon Motyka</h1>
                <div class="media">
                    <div class="media-body">
                        <img src="https://avatars0.githubusercontent.com/u/1876578?v=3&s=240" alt="Szymon Motyka">
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <h4 class="media-heading">Useful Link</h4>
                @if (Model != null && Model.Links.Any())
                {
                    <div class="list-group">
                        @foreach (var item in Model.Links)
                        {
                            <a href="@item.Link" class="list-group-item"> <span class="glyphicon glyphicon-@item.IconName" aria-hidden="true"> </span> @item.Name</a>
                        }
                    </div>
                }
            </div> 
        </div>
        <div class="row">
            <div class="col-md-12">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- LIFELIKE -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-8823495958915386"
     data-ad-slot="3271749305"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
        </div>
        

