@model System.Collections.Generic.IEnumerable<LifeLike.Models.Config>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<table class="table">
<tr>
    <th>Name</th>
 
    <th>Value</th>
    <th>Actions</th>

</tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>        
    
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit","Update","SiteManager", new {id=item.Name}, new { @class="button btn-info"})
            @Html.ActionLink("Delete","Delete","SiteManager", new {id=item.Name}, new { @class="button btn-warning"})

        </td>
    </tr>
}
</table>
