<app-title Title="Videos"></app-title>
<app-spinner *ngIf="IsLoading"></app-spinner>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card  fxFlex="40%" *ngFor="let video of Videos">
    <mat-card-header>
      <mat-card-title> {{video.Name}}</mat-card-title>
      <mat-card-subtitle>{{video.Category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <youtube-player [YoutubeID]="video.YoutubeId"></youtube-player>
      Published: {{video.PublishDate  | date: 'dd/MM/yyyy'}}
    </mat-card-content>
  </mat-card>
</div>
