<mat-tab-group>
  <mat-tab label="Logs">
    <h1>Logs</h1>
    <app-log></app-log>
  </mat-tab>
  <mat-tab label="Page Config">
    <h1>Configs</h1>
    <app-config></app-config>
  </mat-tab>
  <mat-tab label="Posts">
    <h1>Post List</h1>
    <app-post-list></app-post-list>4
    <button mat-button  routerLink='/CreatePost'>Add New Post</button>
  </mat-tab>
  <mat-tab label="Pages">
    <h1>Pages</h1>
    <app-page></app-page>
    <button mat-button routerLink='/CreatePost'>Add New </button>

  </mat-tab>
</mat-tab-group>


