<app-title Title="{{Title}}"></app-title>

<app-spinner *ngIf="IsLoading"></app-spinner>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card fxFlex="30%" *ngFor="let post of Pages" routerLink='{{post.ShortName}}'>
    <mat-card-header>
      <mat-card-title> {{post.FullName}} </mat-card-title>
      <mat-card-subtitle> {{post.Published  | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="post.ImageUrl!=undefined" src="{{post.ImageUrl}}">
    <mat-card-content>
      {{post.Summary}}
    </mat-card-content>
  </mat-card>
</div>
