@using LifeLike.Utils
@model List<LifeLike.ViewModel.LinkViewModel>

@{
    
    ViewBag.Title = "Videos";
    Layout = "_Layout";
}

<h2>Videos</h2>
<div class="row">
    @foreach (var video in Model)
    {
        <div class="col-lg-6">
            
        @Html.Raw(HtmlUtils.GenerateYoutube(video))
        </div>
    }    
</div>
