@using LifeLike.ViewModel
@using LifeLIke.Utils
@model List<LifeLike.ViewModel.LinkViewModel>

@{
    
    ViewBag.Title = "Videos";
    Layout = "_Layout";
}

<h2>Videos</h2>
<div class="row">
    @foreach (var video in Model)
    {
        @Html.Raw(HtmlUtils.GenerateYoutube(video))
    }    
</div>
