@using System.Diagnostics
@model LifeLike.ViewModel.GalleryViewModel
@{
    if (Model?.Title!=null)
    {
        ViewBag.Title = Model.Title;
    }
    ViewBag.Subtitle = "Photo Gallery";
    Layout = "_Layout";
}
<h1>@Html.DisplayFor(model=>model.Place)</h1>
<markdown text=@Model?.Description></markdown>

<div class="row">
    @if (Model?.Photos != null)
    {    
        foreach (var photo in Model?.Photos)
        {
              @await Component.InvokeAsync("Photo", new {model = photo})       
        }
    }
</div>
