<app-title Title="Pages"></app-title>

<app-spinner *ngIf="IsLoading"></app-spinner>
<table  class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Short Name</th>
      <th scope="col">Full Name</th>
      <th scope="col">Category</th>
      <th scope="col">Publish Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="!IsLoading">
    <tr *ngFor="let page of Pages">
      <th scope="row">{{page.Id}}</th>
      <td>{{page.ShortName}}</td>
      <td>{{page.FullName}}</td>
      <td>{{page.Category}}</td>
      <td>{{page.Published | date: 'dd/MM/yyyy'}}</td>
      <td>
        <div class="btn-group">
          <a class="btn btn-success" [routerLink]="['PostEdit/'+ page.Id ]"> Edit </a>
          <a class="btn btn-warning" (click)='Remove(page)'>Delete </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<a class="btn btn-success" routerLink="PostCreate">Create</a>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>