@model LifeLike.Models.Page

@{
    ViewBag.Title = @Model.FullName;
    Layout = "_Layout";
}
    <h1>@Html.DisplayFor(model=>model.FullName)</h1>
    <markdown text=>@Model.Content</markdown>
@*    <p markdown>*@
@*    @Html.DisplayFor(model=>model.Content)*@
@*    </p>*@
@*    *@