<configuration>
    <system.webServer>
      <rewrite>
        <rules>
            <rule name="Angular" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
            <rule name="Get dynamic configs in server environment">
                    <match url="configs.json" ignoreCase="true"/>
                    <action type="Redirect" url="currentConfigs.js" redirectType="Permanent" appendQueryString="true" />
            </rule>
            <rule name="AcmeContent">
            <match url=".well-known/acme-challenge/*" />
                <action type="Rewrite" url="{REQUEST_URI}"/>
            </rule>
            <rule name="StaticContent">
                <match url="public/*" />
                <action type="Rewrite" url="{REQUEST_URI}"/>
            </rule>
        </rules>
        <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
      </rewrite>
    </system.webServer>
</configuration>